<div class="header">
    <div class="total-info">
        <span class="cart-count">Items in cart: {{totalCount}}</span>
        <span class="total-amount">Total Rs:{{totalAmount}}</span>
    </div>
    <div class="cart-summary-header">
        <div class="name">Name</div>
        <div class="quantity">Quantity</div>
        <div class="amount">Total(Rs.)</div>
    </div>
</div>