<h2> YOUR CART SUMMARY</h2>
<div class="summary">
    <cart-summary-header></cart-summary-header>
    <div class="cart-summary" ng-repeat="item in itemsInCart">
        <div class="name">{{item.name}}</div>
        <div class="quantity">{{item.count}}</div>
        <div class="amount">{{item.price*item.count}}</div>
        <button class="remove" ng-click="removeFromCart(item)">Remove</button>
    </div>
</div>
