body {
    background-color: #000000;
}
.Coviam {
    height: 100%;
    width: 100%;
    color: darkcyan;
}
a {
    color: darkcyan;
}
cart-grid {
    width: 62%;
    position: absolute;
}
cart-grid h2, cart-summary h2 {
    text-align: center;
    text-decoration: underline;
}
.cart-item {
    width: 160px;
    height: 250px;
    float: left;
    margin: 10px;
    padding: 20px;
    border: 1px solid lightseagreen;
    border-radius: 15px;
}
.cart-item > * {
    margin: 5px;
}
.cart-item img {
    width: 160px;
    height: 125px;
}
cart-summary {
    width: 35%;
    right: 10px;
    position: absolute;

}
.summary {
    padding: 20px;
    margin: 10px;
    border: 1px solid lightseagreen;
    border-radius: 15px;
    position: absolute;

}
.cart-summary {
    height: 100%;
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.cart-summary div, .cart-summary-header div {
    float: left;
    width: 120px;
}
.cart-summary:first-of-type   {
    border-top: 1px solid darkcyan;
}
.info-container div {
    margin: 5px;
}
.actions button{
    cursor: pointer;

}
.actions:hover {
    background-color: lightcyan;
}
.actions {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.total-info {
    font-weight: bold;
    margin: 10px 0px;
}