<div class="actions">
    <a ng-if="!totalQuantity.count" ng-click="addToCart()">Add to cart</a>

    <div ng-if="totalQuantity.count > 0">
        <button class="remove" ng-click="removeFromCart()">-</button>
        <span>{{totalQuantity.count}} in cart</span>
        <button class="add" ng-click="addToCart()">+</button>
    </div>
</div>