<h2>YOUR PRODUCTS</h2>
<div class="cart" ng-repeat="product in products">
    <div class="cart-item">
        <img ng-src="{{product.src}}"/>

        <div class="info-container">
            <div class="brand">{{product.brand}}</div>
            <div class="name">{{product.name}}</div>
            <div class="price">Rs.{{product.price}}</div>
        </div>
        <cart-operations></cart-operations>
    </div>
</div>